<%# CSS・・・assets/stylesheets/shared/header.css %>
<%= render "shared/header" %>

<div class='main'>

  <ul class="stamp-lists">
    <% @stamps.each do |stamp| %>
      <li class="stamp-list">
        <%= image_tag stamp.image.variant(resize: '100x100') , class: "stamp-img" %>

        <div class="stamp-info">
          JOB No.<%= stamp.number %>
          品名<%= stamp.name %>
        </div>

      </li>
    <% end %>
  </ul>


</div>

<%= render "shared/footer" %>